# --- LLM keys ---
GOOGLE_API_KEY=
DEEPSEEK_API_KEY=
GROQ_API_KEY=

# --- GitHub ---
GITHUB_TOKEN =

# --- Slack ---
SLACK_BOT_TOKEN=xoxb-10066077993446-10071197265442-S8JHMuOnyyeJ2gByCTYJDRXb
SLACK_CHANNEL=C0A2D1K7MGR

# --- Jira ---
JIRA_URL=https://devopsllm.atlassian.net
JIRA_EMAIL=
JIRA_PROJECT=DEV
JIRA_API_TOKEN=ATATT3xFfGF0OS8-j-uxW2WCJRce7mGv4bBHxQ8xePj3xcTpXSAGsYpEjK1D0F9gan2_cQ6tv5okip5Ivhq_D3P-n-j7zqDPMWXEog4eVt2iWC07wlPkHalfxwNJgWP4H-gnFwrS7Rrp0h-LWD4TBhBufyAlEbDS4SjtpDCzCa9m43v4bfbSbbY=B5FC7382
